@height: 50px;

header {
  height: @height;
  background: rgba(39, 54, 68, 0.9);

  .inner-width {
    max-width: 100%;
    padding: 0, 10px;
    margin: auto;

    .menu-toggle-btn {
      float: right;
      height: @height;
      line-height: @height  !important;
      display: none !important;
      cursor: pointer;
      margin-right: 15px;
      color: #fff;
      font-size: 23px;
    }

    .logo {
      float: left;
      padding: 0 20px;

      img {
        height: 45px;
      }
    }

    .navigation-menu {
      float: right;
      display: flex;
      align-items: center;
      min-height: @height;
      margin-right: 20px;

      a {
        color: #ddd;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0px 12px;
        height: @height;
        line-height: @height;
        transition: .3s linear;

        span {
          padding: 0 5px;
        }
      }
    }

    .navigation-menu a:hover {
      box-sizing: border-box;
      border-bottom: 5px solid rgb(135, 206, 235);
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 765px) {
  header {
    .inner-width {
      .menu-toggle-btn {
        display: block !important;
      }

      .blog img{
        padding-left: 100px;
      }

      .navigation-menu {
        position: fixed;
        margin-right: 0;
        width: 100%;
        background: rgba(46, 63, 80, 0.9);
        top: @height;
        right: 0;
        display: none;
        padding: 20px 20px;
        box-sizing: border-box;
        text-align: center;
        z-index: 99999;

        a {
          display: block;
          margin: 10px 0;
          width: 100%;
        }

        a:hover {
          background: rgba(226, 225, 225, 0.5);
          border-bottom: 0;
        }
      }

      .navigation-menu::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(39, 54, 68, 0.9);
        position: absolute;
        top: -10px;
        right: 15px;
      }

      .navigation-menu.active {
        display: block;
        animation-duration: 0.5s;
        animation-name: slideIn;
        transition: .3s linear;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
