.blog-home {


    // 轮播图
    margin-top: 10px;
    .ant-carousel .slick-slide {
      text-align: center;
      height: 350px;
      line-height: 300px;
      background: #364d79;
      overflow: hidden;
    }

    .ant-carousel .slick-slide h3 {
      color: #fff;
    }

    // 主页内容样式
    .blog-home-content {
      padding-top:10px;
      .blog-home-advertising {
        height: 100px;
        background-color: rgb(182, 173, 173);
      }
    }

}
